* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geneva, serif;
}

/* BODY & TEXT */
body {
    background: #e18c97;
    max-height: 100vh;
}

h1 {
    font-size: 40px;
    color: white;
    font-family: 'Courgette', cursive;
    margin-bottom: 20px;
}

h2{

}

#presentation > p {
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* NAV BAR */
    /* LOGO TEXT HEADER */
#logo {
    font-size: 30px;
    color: white;
    font-family: 'Courgette', cursive;
    display: flex;
    flex: 1;
}

    /* POSITION & PADDING NAV */
.nav {
    display: flex;
    justify-content: end;
    margin: 1rem;
}
.nav > a {
    margin-right: 1rem;
}

#btn-deconnection {
    text-decoration: none;
}

.nav-link {
    color: white;
    margin-right: 5px;
    text-decoration: none;
}
    /* STYLE BUTTONS */
#btn-register, #btn-connection, #btn-deconnection, #submit {
    border: 1px solid pink;
    border-radius: 3px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
#submit{
    background: none;
}
#btn-register:hover, #btn-connection:hover, #btn-deconnection:hover, #submit:hover {
    background: pink;
    transition: 200ms ease-in;
    color: white;
}

/* BODY INDEX */

    /* LOGO IMG AND CONTAINER */
#container-logo {
    display: flex;
    justify-content: center;
}

#img-logo {
    width: 200px;
    margin: 10px 0;
}

    /* CURSOR BUTTON */
#submit {
    cursor: pointer;
}

    /* DIV TITLE */
#title-div {
    display: flex;
    justify-content: center;
}

    /* FORMS REGISTER & CONNECTION*/
.div-form {
    display: flex;
    justify-content: center;
}

#form-connection {
    display: flex;
    flex-direction: column;
}

#form-connection > label, input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: Geneva, serif;
}

#form-register > label, input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: Geneva, serif;
}

label {
    color: white;
}

input {
    padding: 0.3rem;
    border: 1px solid pink;
}

#connect_form_button, .register_form_button {
    padding: 0.3rem;
    border: 1px solid pink;
    border-radius: 3px;
    background: #e18c97;
    color: white;
    width: 100%;
    text-transform: uppercase;
}

#connect_form_button:hover, .register_form_button:hover {
    background: pink;
    transition: 200ms ease-in;
    color: white;
}


/* CSS TODOLIST */

    /* CONTAINER TODO */

#container-todo {
    margin: 0 50px;
}
    /* LIST STYLE */
#list-todo, #done {
    list-style: none;
    font-family: Geneva, serif;

}

.date:before {
    content: '- ajoutée le ';
}

.date::before {
    content: '- ajoutée le ';
}

.todoDiv {
    display: flex;
    background: #ffc0cb75;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 3px;
    overflow-wrap: anywhere;

}

li {
    margin-right: 10px;
}

.check-task{
    margin-left: 10px;
    width: 25px;
}

    /* FORM */

#login {
    width: 100%;
}

#password {
    width: 100%;
}
#container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}

#label_todo {
    margin-bottom: 10px;
}
#input_todo {
    width: 350px;
}

#submit {
    width: 100px;
    margin-top: 10px;
    align-self: center;
}


.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    clear:both;
    z-index: -1;

}

#coeur {
    color: red;
}
footer > p {
    font-size: 15px;
    font-family: Geneva, serif;
    margin-bottom: 10px;
    color: white;
}

footer > p:hover {
    color: #81c5b6;
}

.links {
    text-decoration: none;
    color: white;
}


/* TODOLIST */

    /* BODY TODO */

.todo-div-container, .done-div-container{
    border: 1px dashed #ffc0cb;
    padding: 10px;
    margin: 10px;
}

.dateFinish::before {
    content : "terminée le : "
}

    /* BUTTONS */

.delete {
    border: 1px solid red;
    background: red;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 8px;
}

.delete:hover{
    background: white;
    border: 1px solid white;
    transition: 200ms ease-in;
}

.check {
    border: 1px solid #07bd07;
    border-radius: 3px;
    background: #07bd07;
    margin-bottom: 10px;
    margin-left: 8px;
}

.check:hover {
    transition: 200ms ease-in;
    background: white;
    border: 1px solid white;
}


.fa-square-check {
    color: white;
    font-size: 16px;
    padding: 5px;
}

.fa-square-check:hover {
    color: #07bd07;
    font-size: 16px;
    padding: 5px;
}

.fa-trash {
    font-size: 16px;
    padding: 5px;
}

.fa-trash:hover {
    color: red;
}